html {
	font-size: 10px;
	@media screen and (min-width: map-get($grid-breakpoints, "lg")) {
		font-size: calc(10px + (20 - 10) * ((100vw - 1920px) / (3840 - 1920)));
	}
}

body {
	display: flex;
	height: 100vh;
	width: 100%;
	// min-height: 108rem;
	font-family: "Inter", sans-serif;
	font-size: 1.4rem;
}

b {
	font-weight: bold;
}

p {
	margin-bottom: unset;
}

.container-fluid {
	min-width: 192rem;
}

.cursor {
	&__pointer {
		cursor: pointer;
	}
	&__default {
		cursor: default;
	}
}

.rotate {
	&__180 {
		transform: rotate(180deg);
	}
}

.bg {
	&--pattern {
		background: url(../assets/patern.svg) top -18rem left repeat-x, url(../assets/patern.svg) bottom -18rem left repeat-x;
	}
}

.input {
	&__radio {
		input {
			width: 2.4rem;
			height: 2.4rem;
			cursor: pointer;
		}

		label {
			font-size: 1.8rem;
			line-height: 1;
			letter-spacing: -0.15px;
			cursor: pointer;
			color: rgba(0, 0, 0, 0.9);
		}
	}
	&__checkbox {
		input {
			width: 2.4rem;
			height: 2.4rem;
			cursor: pointer;
		}
	}
}
