.login-form__wrapper {
	font-family: "Poppins", sans-serif;

	.form {
		&__tab {
			padding: 2rem 3rem;
			font-size: 2.8rem;
			cursor: pointer;
			color: #666666;
			border-bottom: 3px solid transparent;
			text-transform: uppercase;
			line-height: 1;
			&.active,
			&:hover {
				color: #6330c6;
				border-color: currentColor;
			}
		}

		&__heading {
			font-size: 2.4rem;
		}

		&__text {
			color: #9a9ea5;
		}

		&__label {
			font-size: 1.8rem;
			font-family: "Roboto", sans-serif;
		}

		&__input {
			display: block;
			width: 100%;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #000;
			height: 5rem;
			padding-left: 1.5rem;
			outline: none;
		}

		&__link {
			font-size: 1.8rem;
			text-decoration: none;
			color: #000;
			font-family: "Roboto", sans-serif;
			&:hover {
				text-decoration: underline;
			}
		}

		&__button {
			padding: 1.4rem 5.5rem;
			border-radius: 1rem;
			font-size: 1.8rem;
			line-height: 1;
			cursor: pointer;
			background-color: #6330c6;
			color: #fff;
			border: none;

			&:hover {
				opacity: 0.9;
			}
		}
	}
}
