.modal {
	&__window {
		background-color: #fff;
		border: 1px solid rgba(29, 28, 29, 0.13);
		border-radius: 16px;
		overflow: hidden;
		width: 100%;
		max-width: 107rem;
		font-family: "Poppins";
		margin: auto;

		hr {
			background: rgba(29, 28, 29, 0.13);
			opacity: 1;
		}
	}

	&--invoice {
		max-width: 88rem;
	}

	&__heading {
		font-size: 3rem;
		line-height: 1;
		margin: 0;
	}

	&__overlay {
		background-color: rgba($color: #000000, $alpha: 0.4);
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		overflow: auto;
	}

	&__form {
		.form {
			&__heading {
				font-size: 2.4rem;
				line-height: 1;
			}
			label {
				font-size: 1.4rem;
				line-height: 1.8rem;
				color: #1d1c1d;
				padding-bottom: 0.8rem;
				display: block;
			}

			&__field {
				height: 2.8rem;
				background: #ffffff;
				border: 1px solid rgba(29, 28, 29, 0.5);
				border-radius: 3px;
				padding: 0 1rem;
			}
		}
	}

	&__footer {
		button {
			background: #ffffff;
			border: 1px solid rgba(29, 28, 29, 0.5);
			border-radius: 3px;
			font-size: 1.5rem;
			color: #1d1c1d;
			line-height: 2.2rem;
			padding: 0.6rem 0.9rem;
			min-width: 10rem;
			&:hover {
				background: #6330c6;
				border: 1px solid #6330c6;
				color: #fff;
			}
		}
	}

	&__invoice {
		font-family: "Inter";
		font-size: 1.4rem;
		line-height: 2.4rem;
		color: #19181a;
		.container {
			padding-left: 5.6rem;
			padding-right: 5.6rem;
		}

		.muted {
			color: #6f6e70;
		}

		strong {
			font-weight: 600;
		}

		small {
			font-size: 1.2rem;
		}

		.bg {
			&-grey {
				background: #f2f2f2;
			}
			&-lightgrey {
				background: #f8f7fa;
			}
		}

		hr {
			background: #19181a;
			opacity: 1;
			height: 0.2rem;
		}
	}
}
